#div {
  display: inline-flex;
  height: 50px;
  width: 100%;
}
#btn1 {
  min-height: 30px;
  display: inline-block;
  margin-top: 15px;
  margin-left: 5px;
}
#btn2 {
  min-height: 30px;
  display: inline-block;
  margin-top: 15px;
  margin-left: 5px;
}
#btn3 {
  min-height: 30px;
  display: inline-block;
  margin-top: 15px;
  margin-left: 5px;
}
a {
  min-height: 30px;
  display: inline-block;
  margin-top: 15px;
  margin-left: 5px;
  color: black;
}
#delete {
  margin: 20px;
  margin-bottom: 0px;
  max-height: 20px;
}
.menu {
  display: flex;
}

.a {
  padding-right: 12px;
  padding-left: 12px;
  margin: 0;
  display: block;
  text-decoration: none;
  max-width: 100px;
  text-align: center;
  min-height: 20px;
}
.dropdown {
  margin-left: 40px;
  margin-top: 20px;
  max-width: 100px;
  text-align: center;
  min-height: 20px;
  border: blue 1px solid;
  max-width: 100px;
  text-align: center;
}
.a:hover {
  background-color: rgb(10, 235, 243);
}
.in {
  display: none;
}
.peter:hover .in {
  display: block;
}
input {
  margin: 10px;
}
select {
  margin: 10px;
}
